* {
  font-family: "Outfit", sans-serif;
}

.cat-quote::after {
  content: "";
  position:absolute;
  bottom: -1px;
  left: 0;
  width: 24px;
  height: 24px;
  transform: rotate(45deg) translate(50%, 30%);
  background-color: #F5D0FE;
  border-right: 4px solid #E879F9;
  border-bottom: 4px solid #E879F9;
  z-index: 0;
}

.alienator-quote::before {
  content: "";
  position:absolute;
  left: 92%;
  top: -7px;
  width: 32px;
  height: 32px;
  transform: rotate(225deg) translate(15px, 0px);
  background-color: #F5D0FE;
  border-right: 4px solid #E879F9;
  border-bottom: 4px solid #E879F9;
}