@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", sans-serif;
}

button, input {
  outline: none;
  border: none;
}

button:focus-visible, input:focus-visible {
  @apply focus-visible:ring-4 focus-visible:ring-fuchsia-400
}

button:hover {
  @apply opacity-75 transition-opacity duration-200
}


.cat-quote::after {
  content: "";
  position:absolute;
  bottom: -1px;
  left: 0;
  width: 24px;
  height: 24px;
  transform: rotate(45deg) translate(50%, 30%);
  background-color: #F5D0FE;
  border-right: 4px solid #E879F9;
  border-bottom: 4px solid #E879F9;
  z-index: 0;
}

.alienator-quote::before {
  content: "";
  position:absolute;
  left: 92%;
  top: -7px;
  width: 32px;
  height: 32px;
  transform: rotate(225deg) translate(15px, 0px);
  background-color: #F5D0FE;
  border-right: 4px solid #E879F9;
  border-bottom: 4px solid #E879F9;
}

@media (min-width: 768px) {
  .alienator-quote::before {
    left: 4.5%;
    top: -7px;
    transform: rotate(225deg) translate(15px, 0px);
  }
}

.htmx-request.loading {
  @apply block animate-fade animate-once animate-duration-200 animate-ease-in
}