{% extends '/layouts/root.html' %}

{% block body %}

<main
  class="h-full w-full bg-[url('/static/images/sprite.gif')] bg-no-repeat bg-center bg-mobile-size sm:bg-cover ">

  {% include '/components/cat-quote.html' %}
  {% include '/components/alienator-quote.html' %}
  <div class="hidden md:block md:absolute md:top-[40%] md:left-[12%]">
    <div
      class="rounded-md max-w-[18rem] p-6 border-2 border-fuchsia-400 bg-fuchsia-700">
      <h1
        class="text-fuchsia-200 font-semibold text-4xl text-center">Alienator</h1>
      <div class="grid place-content-center min-h-[4rem] mt-3">
        {% if has_game %}
        {% include '/components/game-form.html' %}
        {% else %}
        {% include '/components/game-button.html' %}
        {% endif %}
      </div>
    </div>
  </div>
</main>

<div class="absolute overflow-hidden">
  <div class="md:hidden md:pointer-events-none">
    {% include 'components/game-modal.html' %}
  </div>
  {% include 'components/end-success-game-alert.html' %}
  {% include 'components/end-fail-game-alert.html' %}
</div>

<script
  type="module"
  src="{{ url_for('static', filename = 'scripts/pages/index.mjs') }}"></script>
{% endblock %}
