<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='/styles/global.css') }}">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          backgroundImage: {
            'sprite': "url('{{ url_for('static', filename='/images/sprite.gif') }}')",
          },
          backgroundSize: {
            'mobile': '40rem 100%',
          },
        }
      }
    }
  </script>
  <title>Alienator</title>
</head>

<body class="h-screen w-screen overflow-x-hidden">
  {% block body %}
  {% endblock body %}
</body>

</html>