<p id="alienator-quote"
  class="alienator-quote absolute top-[24rem] left-[2%] md:top-[64%] md:left-[48%] w-80 md:min-w-[24rem] max-h-[8rem] border-4 border-fuchsia-400 rounded-md bg-fuchsia-200 py-4 px-3 md:text-md text-zinc-700 font-semibold text-base text-center"
  data-loading-class="animate-pulse animate-infinite animate-duration-1000">
  I will think of character and you should guess its name correctly.
</p>


<!-- <div
  class="alienator-quote absolute  w-80 border-4 border-fuchsia-400 rounded-md bg-fuchsia-200 p-3 text-sm">
  <p class="text-zinc-700 font-semibold text-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe laborum unde esse id fugit tenetur impedit quis
    voluptas numquam! Atque, reiciendis maxime eaque praesentium excepturi iste quae inventore distinctio autem.
  </p>
</div> -->